/* Fonts  */
/* $serif-ff: 'Kaiti TC'           */
/* $sans-serif "Varela Round", sans-serif */
/* $sans-serif-ff: 'Helvetica Neue', Helvetica, Arial, sans-serif */
/* Colors */
h1, h2, h3, h4, h5, h6 {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-decoration: underline; }

h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px; }

/* TODO organize this */
.simple-nav {
  color: #Fcfcfc;
  margin-top: 20px;
  text-align: center; }
  .simple-nav > * {
    margin-bottom: 20px; }
  .simple-nav .simple-nav-title {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: center;
    text-decoration: none; }
  .simple-nav .simple-nav-title, .simple-nav .simple-nav-link {
    font-size: 24px; }
  .simple-nav .simple-nav-link {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #Fcfcfc;
    text-decoration: none; }
  .simple-nav .wrapper-container {
    visibility: hidden;
    width: 0px;
    position: absolute;
    left: 50%; }
  .simple-nav .wrapper-container::before {
    position: absolute;
    width: 20px;
    left: -60px;
    content: "["; }
  .simple-nav .wrapper-container::after {
    position: absolute;
    width: 20px;
    right: -60px;
    content: "]"; }
  .simple-nav .simple-nav-link.active .wrapper-container {
    visibility: visible;
    color: #ff5ba6; }
  .simple-nav .simple-nav-link:hover .wrapper-container {
    visibility: visible;
    color: #00eb00; }
  .simple-nav .center {
    display: table-cell; }
  .simple-nav pre {
    border: none;
    background-color: transparent;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    padding: 0;
    text-align: left;
    color: #Fcfcfc; }

#embedded {
  width: 100%;
  height: 500px; }

.preview-link .post-header {
  color: #292929; }
.preview-link .meta {
  color: rgba(0, 0, 0, 0.4); }

.preview-link:hover {
  text-decoration: none; }
  .preview-link:hover .post-header {
    text-decoration: underline; }

/*  */
body {
  background-color: #292929;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px; }

.container {
  margin-top: 0;
  max-width: 900px; }

.right {
  float: right;
  text-align: right; }

#content {
  background-color: #Fcfcfc;
  color: #292929;
  border-radius: 3px;
  box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, 0.1);
  margin-top: 0; }
  #content h1, #content h2, #content h3, #content h4, #content h5 {
    margin-top: 40px;
    font-weight: bold;
    text-decoration: none !important; }

#content blockquote {
  padding: 30px; }

#content img {
  max-width: 100%;
  height: auto;
  padding: 30px; }

#content figure {
  padding: 30px; }
  #content figure img {
    max-width: 100%;
    height: auto;
    padding: 0; }
  #content figure figcaption {
    font-weight: bold;
    text-align: center; }
    #content figure figcaption figcaption {
      font-weight: normal;
      font-size: 14px;
      padding: 0 10px; }

footer {
  font-size: 14px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 30px;
  color: #Fcfcfc; }

#post-tags {
  margin-top: 30px; }

#prev-next {
  padding: 15px 0; }

.post-header {
  margin-bottom: 20px; }

.post-header h2 {
  font-size: 32px; }

#post-meta {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4); }

#page-header {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px; }

#page-header h2 {
  font-size: 32px; }

pre {
  overflow-x: auto; }

pre code {
  overflow-wrap: normal;
  white-space: pre; }

code {
  color: #428bca; }

pre, code, .hljs {
  background-color: #f7f9fd; }

@media (min-width: 768px) {
  .navbar {
    min-height: 70px; }

  .navbar-nav > li > a {
    padding: 30px 20px; }

  .navbar-default .navbar-brand {
    font-size: 36px;
    padding: 25px 15px; }

  #content {
    padding: 30px; } }
@media (max-width: 767px) {
  body {
    font-size: 14px; }

  .simple-nav {
    padding: 0 20px; }
    .simple-nav .simple-nav-title {
      margin-bottom: 20px; }
    .simple-nav > .simple-nav-toggle {
      display: none; }

  #content {
    padding: 15px; }

  #post-meta .right {
    float: left;
    text-align: left; }

  #content img {
    max-width: 100%;
    height: auto;
    padding: 15px; }

  #content figure {
    padding: 15px; } }

/*# sourceMappingURL=screen.css.map */
