/* Fonts  */
/* $serif-ff: 'Kaiti TC'           */
$serif-ff: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
/* $sans-serif "Varela Round", sans-serif */
$monospace-ff:  Menlo,Monaco,Consolas,"Courier New",monospace;
$top-offset: 20px;
/* $sans-serif-ff: 'Helvetica Neue', Helvetica, Arial, sans-serif */;

/* Colors */
$black:   #292929;
$code-bg: #f7f9fd;
$gray:    rgba(0, 0, 0, 0.4);
$green:   #00eb00;
$red:     #ff5ba6;
$white:   #Fcfcfc;

$wrapper-width: 20px;
$wrapper-offset: 50px;

h1, h2, h3, h4, h5, h6 {
    font-family: $monospace-ff;
    text-decoration: underline;
}

h3  {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}

/* TODO organize this */
.simple-nav  {
    color: $white;
    margin-top: $top-offset;
    text-align: center;

    > * {
        margin-bottom: $top-offset;
    }
    
    .simple-nav-title {
        font-family: $monospace-ff;
        text-align: center;
        text-decoration: none;
    } 

    .simple-nav-title, .simple-nav-link  {
        font-size: 24px;
    } 

    .simple-nav-link {
        font-family: $monospace-ff;
        color: $white;
        text-decoration: none;
    }

    .wrapper-container {
        visibility: hidden;
        width: 0px;
        position: absolute;
        left: 50%;
    }

    .wrapper-container::before {
        position: absolute;
        width: $wrapper-width;
        left: -$wrapper-width/2 - $wrapper-offset;
        content: "[";
    }

    .wrapper-container::after {
        position: absolute;
        width: $wrapper-width;
        right: -$wrapper-width/2 - $wrapper-offset;
        content: "]";
    }

    .simple-nav-link.active {
        .wrapper-container {
            visibility: visible;
            color: $red;
        }
    }

    .simple-nav-link:hover {
        .wrapper-container {
            visibility: visible;
            color: $green;
        }
    }

    .center {
        display: table-cell;
    }

    pre {
        border: none;
        background-color: transparent;
        display: inline-block;
        font-size: 8px;
        font-weight: bold;
        padding: 0;
        text-align: left;
        color: $white;
    }

} 

#embedded {
    width:100%;
    height:500px;
}

.preview-link {
    
    .post-header {
        color: $black;
    }
    .meta {
        color: $gray;
    }
}

.preview-link:hover {
    text-decoration: none;
    
    .post-header {
        text-decoration: underline;
    }
}

/*  */

body  {
    background-color: $black;
    font-family: $monospace-ff;
    font-size: 16px;
}

.container  {
    margin-top: 0;
    max-width: 900px;
}

.right  {
    float: right;
    text-align: right;
}

#content  {
    background-color: $white;
    color: $black;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
    margin-top: 0;
}

#content img  {
    max-width: 100%;
    height: auto;
}

footer  {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
    color: $white;
}

#post-tags  {
    margin-top: 30px;
}

#prev-next  {
    padding: 15px 0;
}

.post-header  {
    margin-bottom: 20px;
}
.post-header h2  {
    font-size: 32px;
}

#post-meta  {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

#page-header  {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2  {
    font-size: 32px;
}

pre  {
    overflow-x: auto;
}
pre code  {
    overflow-wrap: normal;
    white-space: pre;
}

code  {
    color: #428bca;
}

pre, code, .hljs  {
    background-color: $code-bg;
}

@media (min-width: 768px)  {
    .navbar  {
        min-height: 70px;
    }
    .navbar-nav>li>a  {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand  {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content {
        padding: 30px;
    }
}


@media (max-width: 767px)  {
    body {
        font-size: 14px;
    }

    .simple-nav{
        padding: 0 20px;
        
        .simple-nav-title {
            margin-bottom: $top-offset;
        }
        
        > .simple-nav-toggle {
            display: none;
        }
    }

    #content {
        padding: 15px;
    }
    
    #post-meta .right  {
        float:left;
        text-align: left;
    }
}


