/* Fonts  */
/* $serif-ff: 'Kaiti TC'           */
$serif-ff: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
/* $sans-serif "Varela Round", sans-serif */
$monospace-ff:  Menlo,Monaco,Consolas,"Courier New",monospace;
$top-offset: 20px;
/* $sans-serif-ff: 'Helvetica Neue', Helvetica, Arial, sans-serif */;

/* Colors */
$white:   #Fcfcfc;
$black:   #292929;
$gray:    rgba(0, 0, 0, 0.4);
$red:     #ff5ba6;
$code-bg: #f7f9fd;

h1, h2, h3, h4, h5, h6 {
    font-family: $serif-ff;
}



h3  {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}

/* TODO organize this */
.simple-nav  {
    margin: $top-offset;
    text-align: center;

    .simple-nav-title {
        font-size: 21px;
        text-align: center;
        margin: 0 0 5px 0;
        font-family: $monospace-ff;
    } 

    .center {
        display: table-cell;
    }

    a {
        font-family: $monospace-ff;
        color: $black;
    }

    a.active {
        color: $red;
    }

    pre {
        border: none;
        background-color: transparent;
        display: inline-block;
        font-size: 8px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: left;
    }

} 

.preview-link {
    
    .post-header {
        color: $black;
    }
    .meta {
        color: $gray;
    }
}

.preview-link:hover {
    text-decoration: none;
    
    .post-header {
        text-decoration: underline;
    }
}

/*  */

body  {
    color: $black;
    background-color: $white;
    font-family: $serif-ff;
    font-size: 16px;
}

.container  {
    margin-top: 0;
    max-width: 900px;
}

.right  {
    float: right;
    text-align: right;
}

.navbar  {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default  {
    background-color: #428bca;
    border: none;
}

.navbar-default .navbar-brand  {
    color: $white;
    font-family: $serif-ff;
}

.navbar-default .navbar-brand:hover  {
    color: $white;
}

.navbar-default .navbar-nav li a  {
    color: $white;
}

.navbar-default .navbar-nav li a:hover  {
    color: $white;
    background-color: #3d80ba;
}

.navbar-default .navbar-nav .active a  {
    color: $white;
    background-color: #3d80ba;
}

.navbar-default .navbar-toggle:hover {
    background-color: #3d80ba;
}

.navbar-default .navbar-toggle .icon-bar  {
    background-color: $white;
}

#sidebar  {
    margin-left: 15px;
    margin-top: 50px;
}

#content  {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
    margin-top: 0;
}

#content img  {
    max-width: 100%;
    height: auto;
}

footer  {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags  {
    margin-top: 30px;
}

#prev-next  {
    padding: 15px 0;
}

.post-header  {
    margin-bottom: 20px;
}
.post-header h2  {
    font-size: 32px;
}

#post-meta  {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

#page-header  {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2  {
    font-size: 32px;
}

pre  {
    overflow-x: auto;
}
pre code  {
    overflow-wrap: normal;
    white-space: pre;
}

code  {
    color: #428bca;
}

pre, code, .hljs  {
    background-color: $code-bg;
}

@media (min-width: 768px)  {
    .navbar  {
        min-height: 70px;
    }
    .navbar-nav>li>a  {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand  {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content {
        padding: 30px;
    }
}


@media (max-width: 767px)  {
    body {
        font-size: 14px;
    }

    .navbar-default .navbar-brand  {
        font-size: 30px;
    }

    .simple-nav{
        > .simple-nav-toggle {
            display: none;
        }
    }
    #content {
        padding: 15px;
    }
    #post-meta .right  {
        float:left;
        text-align: left;
    }
}


