body, html{
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Lucida Grande';
  background: white;
}

h1, h2, h3{
  margin: 0;
}

p {
  margin: 13px 13px;
}

#main-container{
  width: 1000px;
  margin: 0 auto;
}

#main-container h1,h2,h3{
  text-align: center;
}

#title-container{
  text-align: center;
  margin: 20px auto;
}

.content-container{
  margin: 10px 0;
}

.project-container{
  vertical-align: top;
  border: 1px solid black;
  display: inline-block;
  width: 480px;
  height: 480px;
  margin-left: 13px;
  margin-top: 13px;
  background-size: contain;
}

.project-container a{
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.project-info{
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
}

.project-info h2, h3{
  margin: 10px auto;
}

.project-additional-info{
  padding: 2px 0;
  width: 100%;
}

.project-additional-info p{
  text-align: left;
  margin: 10px 20px;
}


@media (max-width: 1000px){

  #main-container{
    width: 100%;
  }

  .project-container{
    display: block;

    margin: 10px auto;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 720px) {

  #main-container{
    width: 100%;
    background-color: red;
  }


  #project-container{
    margin: 0;
    width: auto;
    height: auto;
  }

}